div(ng-include='"components/navbar/navbar.html"')

div.container
  h2 {{printUsername()}}
  div.blocky(masonry="{gutter: 10}")
    .masonry-brick(ng-repeat='pin in pins')
      a(ng-href="{{pin.url}}")
        img(ng-src='{{ pin.url }}')
      div#pinName {{pin.title}}
