
.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}

.bg {
  background: url('http://41.media.tumblr.com/7dbf829fbf204460449b339f2b7d1413/tumblr_mjonoz8SaU1qcxdiyo1_500.png');
}
