div(ng-include='"components/navbar/navbar.html"')

div.container
  div(layout="row", layout-sm="column")
    div(flex="30")
      md-button#addPinBtn.md-raised.md-primary(ng-click="addPin()") +

    div(flex="70")
      h4(ng-show="{{pins.length === 0}}") You have no pins yet. Go ahead and add one!
      div.blocky(masonry="{gutter: 10}")
        .masonry-brick(ng-repeat='pin in pins')
          a(ng-href="{{pin.url}}")
            img(ng-src='{{ pin.url }}')
          div(layout="row")#pinName
            span(flex="90") {{pin.title}}
            span#delete(flex="10", ng-click="deletePin(pin)") X



  //TODO: fix routing if user tries to get any page they shouldn't
