<div ng-include="&quot;components/navbar/navbar.html&quot;"></div><div class="container"><h1>All Pins</h1><div class="grid"><div class="grid-sizer"></div><div ng-repeat="pin in pins" class="grid-item"><img ng-src="{{pin.url}}"/></div></div><!--md-grid-list(md-cols-sm='1',--><!--md-cols-md='3',--><!--md-cols-gt-md='2',--><!--md-row-height-gt-md='2:1',--><!--md-row-height='3:2',--><!--md-gutter='8px',--><!--md-gutter-gt-sm='44px')--><!--  md-grid-tile(ng-repeat='pin in pins',--><!--  md-rowspan='1',--><!--  md-colspan='1',--><!--  md-colspan-sm='1')--><!--    img(ng-src='{{pin.url}}')--><!--    md-grid-tile-footer//  h3 {{pin.title}} submitted by&nbsp;
//    a(ng-hide="getCurrentUser()._id === pin.ownerId", ng-href="{{pin.ownerId}}") {{pin.ownerUsername}}
//    span(ng-show="getCurrentUser()._id === pin.ownerId") you

//TODO: redirect to login when user first visits site?
//TODO: big image on main page--></div>