div(ng-include='"components/navbar/navbar.html"')



div.container.page
  h1 All Pins

  div.blocky(masonry)
    .masonry-brick(ng-repeat='pin in pins')
      img(ng-src='{{ pin.url }}', alt='A masonry brick')
      md-tile-footer {{pin.title}} submitted by&nbsp;
        a(ng-hide="getCurrentUser()._id === pin.ownerId", ng-href="{{pin.ownerId}}") {{pin.ownerUsername}}
        span(ng-show="getCurrentUser()._id === pin.ownerId") you

      //TODO: redirect to login when user first visits site?
      //TODO: big image on main page
