.dialog-demo-content.md-padding(layout='row', layout-wrap, layout-margin)
  form(ng-submit="addPin()")
    h2 Add a pin
    div(layout, layout-sm="column")
      md-input-container(flex)
        label Enter a Title for your image
        input(ng-model="title", placeholder="Title")
    div(layout, layout-sm="column")
      md-input-container(flex)
        label Enter a URL to an image (.jpg, .png, or .gif)
        input(ng-model="url", placeholder="http://...")
    div(layout, layout-sm="column")
      md-button.md-raised.md-primary Submit

        //TODO: fix crazy long width of input box
